*~
.*.swp
aclocal.m4
autom4te.cache
build-stamp
config
config.log
config.guess
config.status
config.sub
configure
debian/files
debian/vyatta-ipv6-rtradv
debian/vyatta-ipv6-rtradv-serial
debian/vyatta-ipv6-rtradv-dataplane
debian/vyatta-ipv6-rtradv-extra
INSTALL
Makefile.in
Makefile
generated-templates
